.main {
    composes: p-4 pt-25 from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    justify-content: flex-start;
    height: calc(100vh - 120px);
    width: 600px;
    box-sizing: border-box;
}

.emptyList {
    composes: text text_type_main-medium from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    min-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.errorMessage {
    composes: emptyList;
    width: 100%;
    min-height: 10vh;
    color: darkred;
}

.centerElements {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 520px);
    gap: 16px
}

.elementLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 16px
}

.elementLineInner {
    composes: elementLine;
}

.elementLineTop {
    composes: elementLine;
    composes: pb-4 from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

}
.elementLineBottom {
    composes: elementLine;
    composes: pt-4 from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.totalLine {
    composes: pt-10 from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.dragBox {
    width: 32px;
}