.overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background-color: #000000;
    opacity: 0.6;
}

.modal {
    composes: p-5 from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    min-height: 400px;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    opacity: 1;
    z-index: 10;
    color: white;
    border-radius: 40px;
}

.headerContainer {
    composes: mt-10 ml-10 mr-10 from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    display: flex;
    align-content: center;
    align-items: center;
    height: 32px;

}
.headerContainerTitle {
    composes: text text_type_main-large from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    flex-grow: 2;
}
.headerContainerIcon {
    cursor: pointer;

}
.headerContainerIcon svg {
    height: 18px;
    width: 18px;
}
