body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #2F2F37;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #8585AD;
}

div {
  /*border: 1px solid red;*/
}

.price-medium svg {
  height: 33px;
  width: auto;
}