.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #1C1C21;
}

.headerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 1280px;
}

.headerItem {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
}
.Logo {
    height: 50px;
}

.headerItemLast {
    composes: headerItem;
    justify-content: end;
}
.headerItemFirst {
    composes: headerItem;
    justify-content: start;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.navItem {
    composes: p-5 from '../../../node_modules/@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    text-decoration: none;
}
.navItem, .navItem:visited{
    color: #8585AD;
}

.linkText {
    composes: text text_type_main-default from '../../../node_modules/@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: pl-2 from '../../../node_modules/@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.navItemActive {
    composes: navItem;
}

.navItemActive span {
    color: #F2F2F3;
}

.navItemActive svg {
    fill: #F2F2F3;
}

